body{
    margin: 0;
    display: grid;
    grid-template-areas: 
                         'navbar'
                          'header'
                          'section'
                          'aside'
                          'footer';
    grid-template-rows:  90vh 50vh 70vh 70vh 20vh;
    background-color: green;
}

nav{
    grid-area: navbar;
    background-image: url(img/banner.png);
    display: flex;
    align-items: center;
    justify-content: space-around;  
    margin-top: 1%;
}
nav a{
    width: 5px;
}
nav img{
    width: 400px;
    
}
nav div1 h1{
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 30pt;

}
nav div1 p{
    font-family: arial;
    color: white;
    font-size: 20pt;
}
header{
    grid-area: header;
    background-color:white;
}
section{
    grid-area: section;
    background-color: rgb(160, 158, 158) ;
}
aside{
    grid-area: aside;
    background-color: white;
}
footer{
    grid-area: footer;
    background-color: rgb(160, 158, 158);
}